@charset "UTF-8";
/* CSS Document */
/**********************************  カラー　　#A1DDF5****************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  letter-spacing: .3rem;
  line-height: 1.8;
  /* font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'YuGothic', '游ゴシック', 'メイリオ', Meiryo, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;*/
  /*font-family: 'Kosugi', sans-serif;*/
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #FFFFFF;
}
ul, ol {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: 100%;
  border: 0;
}
h2 {
  text-align: center;
  font-size: 3.8rem;
  letter-spacing: .3rem;
  font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.3;
}
p {
  color: #444444;
  font-size: 1.8rem;
  letter-spacing: .5rem;
  opacity: .8;
}
section:not(first-child) {
  padding-top: 26rem;
  width: 1090px;
  margin: 0 auto;
}
h3 {
  text-align: center;
  margin-bottom: 2rem;
  opacity: .8;
  color: #444444;
	
}
.sub-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
	  main .sub-text {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 8rem;
  }
.line-logo {
  margin: 0 auto;
  width: 10rem;
  margin-bottom: 8rem;
}
.btn-box {
  margin-top: 15rem;
  text-align: center;
}

.btn {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width:35rem;
  height: 6rem;
  text-align: center;
  border: none;
   background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
	   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.29);
	border-radius: 5rem;
  transition: all .3s;
  line-height: 6rem;
  font-size: 1.8rem;
  font-weight: 700;
	 color: #fff;

}
  .btn i {
	   position: absolute;
  right: 10%;
    line-height: 6rem;
  }
.btn:hover {
   box-shadow: none;
	transform: translateY(1rem);

}
.btn:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -71px;
    opacity: .2;
    position: absolute;
    top: -63px;
    -webkit-transform: rotate(41deg);
    transform: rotate(41deg);
    -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
}
.btn::hover:after {
    left: 120%;
    -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}


.ikari01 {
  background-image: url("../img/ikari_r.svg");
  background-size: 52rem auto;
  background-position: 20% 40%;
  background-repeat: no-repeat;
}

/******************************************** 他ページ共通*/
#main {
  padding-top: 10rem;
}
margin-top: 10rem;
}
#main p {
  text-align: center;
}
.title {
	display: none;
}

.page-inner {
  width: 80rem;
  margin: 0 auto;
}
/******************************************** header*/
header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 0 4rem;
  margin: 0 auto;
  max-width: 109rem;
  width: 100%;
}
header h1 {
  width: 12rem;
  padding: 1rem 0;
  margin-right: auto;
}
header .nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
header .list-items {
  padding: 4rem 2rem 0;
  text-align: center;
  line-height: 2rem;
}
header .list-items a::after {
  position: absolute;
  bottom: -.5rem;
  left: 0;
  content: '';
  width: 100%;
  height: .3rem;
  background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .5s;
}
header .list-items a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
  transition: transform .5s;
}
header .list-items a {
  font-size: 1.7rem;
  display: inline-block;
  position: relative;
  opacity: .8;
  transition: all .5s;
  font-family: 'Lato', sans-serif;
  letter-spacing: .2rem;
}
header .list-items a:hover {
  opacity: 1;
}
header .list-items a span {
  font-size: 1.2rem;
}
.sp-none {
  display: none;
}
/******************************************** top*/
#top {
	width: 109rem;
  margin: 0 auto;
  padding: 5rem 3rem 0;
}
#top .inner-top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
#top .inner-top h1 {
  font-size: 3.8rem;
  line-height: 1.5;
  font-weight: bold;
	margin-bottom: 3rem;
	white-space: nowrap;
}
#top .inner-top strong {
  font-size: 4.5rem;
}
#top .inner-top p {
  padding: 0 2.5rem;
	line-height: 1.5;
}
#top .inner-top .text {
  flex: 1;
  z-index: 15;
}
#top .btn-box {
  margin-top: 5rem;
  text-align: center;
}
#top .inner-top .toplogo {
  flex: 1;
  position: relative;
  overflow: visible;
}
#top .inner-top .mainvisual {
  position: absolute;
  right: 10rem;
  bottom: 13rem;
  z-index: 10;
  width: 75%;
  height: auto;
  z-index: 5;
}
#top .inner-top .ikari-top {
  position: absolute;
  bottom: 8rem;
  right: 10rem;
  display: block;
  width: 43rem;
  height: auto;
  transform: rotate(-20deg);
  z-index: -10;
}
#top .top-btn-box {
	display: none;
}
/******************************************** about*/
#about .feature {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
#about .list-items {
  width: 30%;
  padding: 3rem 3.5rem;
  border-radius: 10%;
  background-color: #fff;
  box-shadow: 0 0 3rem rgba(127, 136, 204, .2);
}
#about .list-items h3 {
  text-align: center;
  margin-bottom: 2rem;
}
/******************************************** service*/
#service .service {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#service .service-items {
  width: 35%;
  height: 50rem;
  border-radius: 10%;
  padding: 3% 5%;
  margin: 4rem 3rem;
  background-color: #fff;
  box-shadow: 0 0 3rem rgba(127, 136, 204, .2);
  z-index: 10;
}
#service .service-items img {
  display: block;
  width: 8rem;
  height: auto;
  margin: 3rem auto;
  opacity: .5;
}
#service h3 {
  white-space: nowrap;
  margin-bottom: 4rem;
}
#service h3:before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -40%;
	display: inline-block;
	width: 4rem;
	height: .5rem;
	transform: translateX(-50%);
	transform: translate(-50%);
	
	background-color: #42c0cb;
}
.service-items p {
  opacity: .6;
  letter-spacing: .3rem;
}
/******************************************** other*/
#other {
  background-image: url("../img/ikari_l.svg");
  background-size: 52rem auto;
  background-position: 90% 20%;
  background-repeat: no-repeat;
}
#other .other {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  text-align: center;
}
#other .other-items {
  height: 15rem;
  position: relative;
  width: 15rem;
}
#other .other-items a {
  display: block;
  width: 10rem;
  margin: 0 auto;
  opacity: .8;
}
#other .other-items img {
  transition: all .4s;
}
#other .other-items img:hover {
  opacity: 1;
  transform: scale(1.2);
}
/******************************************** contact*/
#contact {
  background-image: url("../img/ikari_r.svg");
  background-size: 52rem auto;
  background-position: 20% 90%;
  background-repeat: no-repeat;
  padding-bottom: 20rem;
}
#contact h2 {
  margin-bottom: 0;
}
#contact .contact-text {
  font-size: 1.5rem;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 3rem;
}
#contact p {
  text-align: center;
}
/******************************************** footer*/
footer {
  background-color: #000;
  text-align: center;
  padding: 9rem 0 1.5rem;
  width: 100%;
}
footer .inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 20rem;
  max-width: 109rem;
  margin: 0 auto;
  padding: 0 2rem;
}
footer #info {
  width: 30%;
  /*
	margin-top: auto;
	margin-bottom: 2rem;
*/
}
footer .footer-menu {
  width: 70%;
}
footer .nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-left: auto;
  justify-content: space-around;
  width: 70%;
}
footer .list-items {
  text-align: center;
  line-height: 2rem;
}
footer .list-items a::after {
  position: absolute;
  bottom: -.4rem;
  left: 0;
  content: '';
  width: 100%;
  height: .2rem;
  background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .4s;
}
footer .list-items a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
  transition: transform .4s;
}
footer .list-items a {
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  opacity: .9;
  color: #fff;
  transition: all .4s;
}
footer .list-items a:hover {
  opacity: 1;
}
footer p {
  font-size: 1.4rem;
  margin-bottom: .5rem;
  letter-spacing: .1rem;
  color: #fff;
  text-align: left;
  opacity: .9;
  white-space: nowrap;
}
footer p span {
  font-size: 1.5ｒem;
  letter-spacing: .2rem;
  color: #fff;
}
footer .top-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  bottom: 2.5rem;
  right: 4%;
  padding-left: .4rem;
  cursor: pointer;
}
footer .top-btn i {
  color: #FFFFFF;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2.5rem;
	line-height: 4.6rem;
  transition: transform .4s;
}
footer .top-btn i:hover {
  transform: translateY(-0.8rem);
}
footer .copy {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: .1rem;
  color: #fff;
}
/********************************************************************* タブレット */
@media only screen and (max-width: 960px) {
  html {
    font-size: 52.5%;
  }
  body {
    font-size: 1.8rem;
    letter-spacing: .3rem;
    line-height: 1.8;
    /* font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'YuGothic', '游ゴシック', 'メイリオ', Meiryo, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;*/
    /*font-family: 'Kosugi', sans-serif;*/
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #FFFFFF;
  }
  section:not(first-child) {
    width: 100%;
  }

  .sp-none {
    display: none;
  }
	/******************************************** header*/
header {
  padding: 0 4rem;
}
header h1 {
  padding: 1rem 0 0;
}
  /******************************************** top*/
  #top {
    width: 100%;
    height: 50rem;
    margin: 0 auto;
    padding: 3rem 2rem 0;
    background-image: url("../img/ikari_l.svg");
    background-size: 40rem auto;
    background-position: 90% 10%;
    background-repeat: no-repeat;
  }
  #top h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  #top p {
    padding-right: 4.7rem;
    font-size: 1.8rem;
  }
  #top .text {
    flex: 0 1 auto;
    width: 55%;
  }
  #top .toplogo {
    flex: 0 1 auto;
    width: 45rem;
  }
  #top .mainvisual {
    right: 5rem;
    bottom: 10%;
    width: 100%;
  }
 #top .inner-top .ikari-top {
    display: none;
  }
	/******************************************** about*/
	#about {
 padding: 25rem 2rem 0;
}
#about .list-items {
  width: 30%;
  padding: 3rem 2.5rem;
  border-radius: 4rem;
  background-color: #fff;
  box-shadow: 0 0 3rem rgba(127, 136, 204, .2);
}
#about .list-items h3 {
  text-align: center;
  margin-bottom: 2rem;
}
  /******************************************** service*/
  #service .service-items {
    width: 35%;
    height: 50rem;
    border-radius: 4rem;
    padding: 3% 3%;
    margin: 4rem 3rem;
    box-shadow: 0 0 3rem rgba(127, 136, 204, .2);
  }
  #service .service-items img {
    display: block;
    width: 9rem;
    height: auto;
    margin: 3rem auto;
    opacity: .5;
  }
  #service h3 {
    white-space: nowrap;
    margin-bottom: 3rem;
  }
  .service-items p {
    opacity: .6;
    letter-spacing: .3rem;
  }
  /******************************************** contact*/
  #contact {
    width: 80%;
  }
  #contact h2 {
    margin-bottom: 0;
  }
  #contact .contact-text {
    font-size: 1.5rem;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 3rem;
  }
  #contact p {
    text-align: center;
  }
  #contact .btn i {
    position: absolute;
    padding-left: 2rem;
  }
  /******************************************** footer*/
  footer {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    padding: 7rem 0 1.5rem;
  }
  footer .inner {
    height: 20rem;
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  footer .footer-menu {
    width: 70%;
  }
  footer .nav {
    margin-left: auto;
  }
  footer .list-items {
    padding: 0 1.5rem 0;
  }
  footer .list-items a::after {
    position: absolute;
    bottom: -.8rem;
    left: 0;
    content: '';
    width: 100%;
    height: .25rem;
    background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .4s;
  }
  footer .list-items a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
    transition: transform .4s;
  }
/*
  footer .top-btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    bottom: 2.5rem;
    right: 0rem;
    padding-top: 1rem;
    padding-left: .4rem;
    cursor: pointer;
  }
  footer .top-btn i {
    color: #FFFFFF;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2.5rem;
    transition: transform .4s;
  }
  footer .top-btn i:hover {
    transform: translateY(-0.6rem);
  }
*/
  footer p {
    white-space: nowrap;
  }
  /******************************************** 他ページ共通*/
  #main {
    padding-top: 4rem;
    width: 100%;
  }
  #main h2 {
    /*	margin-top: 10rem;*/
  }
  #main p {
    text-align: center;
  }
  .title {
    width: 100%;
    background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
  }
  .title-h1 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
    padding-left: 3rem;
    line-height: 2;
  }
  .title-h1 span {
    font-size: 1.5rem;
    letter-spacing: .1rem;
  }
  .page-inner {
    width: 90%;
    margin: 0 auto;
  }
}
/********************************************************************* 720px */
@media only screen and (max-width: 650px) {

  .sp-none {
    display: block;
  }
  /******************************************** header*/
  header h1 {
    width: 12rem;
    padding: 1rem 0;
  }
  header .nav {
    display: none;
  }
  /******************************************** ハンバーガーメニュー*/
  header .sp-none {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99;
    opacity: 0;
    transition: all .5s;
    visibility: hidden;
  }
  header .sp-none ul {
    position: fixed;
    position: relative;
    top: 10%;
    margin: 0 auto;
    width: 15rem;
    z-index: 100;
  }
  header .sp-none .open-items {
    padding: 3rem 0;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transform: translateX(100px);
    transition: transform .6s ease, opacity .3s ease;
  }
  header .sp-none .open-items a {
    font-size: 2.2rem;
  }
  header .open-items a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: .3rem;
    border-radius: .3rem;
    background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .4s;
  }
  header .open-items a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
    transition: transform .5s;
  }
  header .humberger {
    position: fixed;
    margin-top: 3rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    right: 3%;
    z-index: 100;
    transition: all .5s;
  }
  header .humberger span {
    position: relative;
    display: block;
    width: 100%;
    height: .4rem;
    border-radius: .3rem;
	  background-color: #000;

  }
  header .humberger .hum-1 {
    top: .9rem;
    transition: all .5s;
  }
  header .humberger .hum-2 {
    top: 2rem;
    transition: all .5s;
  }
  header .humberger .hum-3 {
    top: 3.1rem;
    transition: all .5s;
  }
  header .open {
    transition: all .5s;
    opacity: .8;
    visibility: visible;
  }
  header .open .open-items {
    opacity: 1;
    transform: translateX(0);
    transition: transform .6s ease, opacity .9s ease;
  }
  header .open-items:nth-child(1) {
    transition-delay: .15s;
  }
  header .open .open-items:nth-child(2) {
    transition-delay: .3s;
  }
  header .open .open-items:nth-child(3) {
    transition-delay: .45s;
  }
  header .open .open-items:nth-child(4) {
    transition-delay: .6s;
  }
  header .open .open-items:nth-child(5) {
    transition-delay: .75s;
  }
  header .open .open-items:nth-child(6) {
    transition-delay: .90s;
  }
	header .open span {
		background-color: #fff;
	}
  header .open .hum-1 {
    -webkit-transform: translateY(1rem) rotate(-45deg);
    transform: translateY(1rem) rotate(-45deg);
    transition: all .5s;
  }
  header .open .hum-2 {
    opacity: 0;
    transition: all .5s;
  }
  header .open .hum-3 {
    -webkit-transform: translateY(-1.9rem) rotate(45deg);
    transform: translateY(-1.9rem) rotate(45deg);
    transition: all .5s;
  }
}
/********************************************************************* スマートフォン */
@media only screen and (max-width: 560px) {
  html {
    font-size: 45.5%;
  }
  body {
    font-size: 2rem;
    letter-spacing: .3rem;
    line-height: 1.7;
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'YuGothic', '游ゴシック', 'メイリオ', Meiryo, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;*/
    /*font-family: 'Kosugi', sans-serif;*/
  }
  section:not(first-child) {
    padding-top: 25rem;
  }
  main {
    overflow: hidden;
  }
  h2 {
    font-size: 4rem;
    letter-spacing: .1rem;
    margin-bottom: 0;
  }
  h3 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
    opacity: .8;
    color: #444444;
  }
  .sub-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  main .sub-text {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 8rem;
  }
  p {
    color: #444444;
    font-size: 2rem;
    letter-spacing: .5rem;
    opacity: .8;
  }
  .line-logo {
    width: 9rem;
    margin-bottom: 8rem;
  }

  .btn {
    color: #fff;
    width: 95%;
    height: 7rem;
    border-radius: 5rem;
    margin: 0 auto;
    transition: all .6s;
    line-height: 7rem;
    font-size: 2rem;
    background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
	   box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
    border: none;
  }
  .btn i {
    line-height: 7rem;
  }
  .hide {
    display: none;
  }
  .ikari01 {
    background-image: url("../img/ikari_r.svg");
    background-size: 70% auto;
    background-position: 20% 63%;
    background-repeat: no-repeat;
  }
  .ikari03 {
    background-image: url("../img/ikari_l.svg");
    background-size: 70% auto;
    background-position: 20% 40%;
    background-repeat: no-repeat;
  }
	  /******************************************** 他ページ共通*/
  #main {
    padding-top: 2rem;
    width: 100%;
  }
  /******************************************** header*/
  header {
    padding: 0 2.5rem;
  }
  header h1 {
    width: 10rem;
    padding: 1rem 0 0;
  }
  header .open {
    visibility: visible;
  }
  header .humberger {
    position: fixed;
    margin-top: 2rem;
    width: 4.9rem;
    height: 4rem;
    cursor: pointer;
    right: 3%;
    z-index: 100;
    transition: all .5s;
  }
/*
  header .humberger span {
    position: relative;
    display: block;
    width: 100%;
    height: .5rem;
    border-radius: .3rem;
  }
*/
  header .sp-none .open-items {
    padding: 2rem 0;
  }
  header .sp-none .open-items a {
    font-size: 2rem;
  }
  /******************************************** top*/
  #top {
    display: block;
    position: relative;
    width: 100%;
    height: 40rem;
    margin: 0 auto;
    padding: 1rem 0 0;
    background-image: none;
  }
	#top .top-btn-box {
		display: block;
		position: absolute;
		width: 100%;
		top: 60rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
		justify-content: center;
	}
 #top .inner-top h1 {
    position: absolute;
    left: 3%;
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
  }
#top .inner-top strong {
    font-size: 5.3rem;
  }
 #top .inner-top.hide {
    display: none;
  }
  #top .inner-top .text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 2rem 0rem 0;
  }
#top .inner-top .top-text {
		position: absolute;
		bottom: -40%;
		left: 7%;
		display: block;
		width: 90%;
		padding: 0;
		text-align: center;
	}
 #top .inner-top .toplogo {
    width: 100%;
    height: 100%;
    padding: 2rem 1rem 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: visible;
    box-sizing: content-box;
  }
  #top .inner-top .mainvisual {
    position: absolute;
    right: 0;
    bottom: 5%;
    left: 5%;
    z-index: 10;
    max-width: 35rem;
    width: 70%;
    height: auto;
  }
 #top .inner-top .ikari-top {
    display: block;
    position: absolute;
    right: 10%;
    max-width: 35rem;
    width: 62%;
    margin: 0 auto;
    bottom: 0%;
  }
	#top .inner-top p {
		font-size: 2rem;
	}
	#top .inner-top .btn {
		display: none;
	}
  /******************************************** about*/
  #about {
	  padding-top: 40rem;
	}
  #about .feature {
    display: block;
  }
  #about .list-items {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 8rem;
    padding: 3rem 3.5rem;
    border-radius: 3rem;
    background-color: #fff;
    box-shadow: 0 0 3rem rgba(127, 136, 204, .2);
  }
  #about .list-items h3 {
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.8;
    letter-spacing: .3rem;
  }
	#about .list-items p {
		line-height: 1.9;
	}
  /******************************************** service*/
  #service .service-items .service {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    position: relative;
  }
	  #service h3 {
    position: absolute;
    top: 60%;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-wrap: break-word;
		  font-size: 1.6rem;
		  letter-spacing: .1rem;
		  color: #444444;
		   opacity: .8;
  }

	#service h3:before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 20%;
	display: inline-block;
	width: 4rem;
	height: .5rem;
	transform: translateX(-50%);
	transform: translate(-50%);
	
	background-color: #42c0cb;
}
  #service .service-items {
    width: 45%;
    height: auto;
    border-radius: 3rem;
    margin: 0 auto 2rem;
    position: relative;
  }
  #service .service-items:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  #service .service-items img {
    position: absolute;
    top: 8%;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    width: 30%;
    height: auto;
    margin: 1rem auto;
    opacity: .5;
  }
  #service .service-items .mobail {
    width: 40%;
  }
  .service-items p {
    opacity: .6;
    letter-spacing: .3rem;
  }
  /******************************************** other*/
  #other {
    background-image: url("../img/ikari_l.svg");
    background-size: 70% auto;
    background-position: 90% 0%;
    background-repeat: no-repeat;
  }
  #other .other {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    text-align: center;
  }
  #other .other-items {
    height: 13rem;
    position: relative;
    width: 25%;
  }
  #other .other-items img {
    width: 70%;
  }
  #other .other-items a {
    display: block;
    width: 10rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    opacity: .8;
  }
  #other .other-items h3 {
    font-size: 1.6rem;
  }
  #other .other-items img {
    transition: all .4s;
  }
  /******************************************** contact*/
  #contact {
    width: 100%;
    padding: 20rem 0 10rem;
    padding-top: 10rem;
	  background-image: url("../img/ikari_r.svg");
    background-size: 70% auto;
    background-position: 20% 90%;
    background-repeat: no-repeat;
    padding-bottom: 20rem;
  }
  #contact h2 {
    margin-bottom: 0;
  }
  #contact .contact-text {
    font-size: 1.5rem;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 3rem;
  }
  #contact .slide-up {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  /******************************************** footer*/
  footer {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    padding: 6rem 0 1.5rem;
    overflow: hidden;
  }
  footer .inner {
    height: 22rem;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: block;
    position: relative;
  }
  footer #info {
    width: 100%;
    bottom: 15%;
    position: absolute;
  }
  footer .footer-menu {
    width: 100%;
    position: absolute;
    top: 0;
  }
  footer .nav {
    margin: 0 auto;
	  width: 100%;
  }
  footer .list-items {
    padding: 0;
  }
	footer .list-items a 
  footer .list-items a::after {
    position: absolute;
    bottom: -.8rem;
    left: 0;
    content: '';
    width: 100%;
    height: .25rem;
    background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .4s;
  }
  footer .list-items a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
    transition: transform .4s;
  }

  footer .top-btn i:hover {
    transform: translateY(-0.6rem);
  }
  footer p {
    white-space: nowrap;
  }
}